<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-principale">
    <header th:insert="~{fragments/navbar :: navbar}">

    </header>

    <main class="container">

        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <h1 class="">Le nostre pizze</h1>
            <div>
                <a th:href="@{/pizzas/create}" type="button" class="btn btn-outline-success">Create new pizza</a>
            </div>
        </div>

        <div>
            <a th:each="pizza : ${pizzas}" th:href="@{/pizzas/{id}(id=${pizza.id})}" class="card mb-3 ">
                <div class="d-flex">
                    <div class="card-body">
                        <h5 th:text="${pizza.nome}" class="card-title"></h5>
                        <p th:text="${pizza.descrizione}" class="card-text"></p>
                        <p th:text="|${pizza.prezzo}€|" class="card-text"></p>
                    </div>
                    <div class="img-container">
                        <img th:src="${pizza.fotoUrl}" alt="Foto pizza" class="card-img-top img-fluid p-2" />
                    </div>
                </div>
            </a>
        </div>


    </main>

</body>

</html>