<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-principale">
    <header th:insert="~{fragments/navbar :: navbar}">

    </header>

    <main class="container">

        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <h1 class="">Le nostre pizze</h1>
            <div>
                <a th:href="@{/pizzas/create}" type="button" class="btn btn-outline-success">Create new pizza</a>
            </div>
        </div>

        <div th:each="pizza : ${pizzas}" class="card mb-3">
            <div class="d-flex">

                <div class="card-body">
                    <a th:href="@{/pizzas/{id}(id=${pizza.id})}" th:text="${pizza.nome}"
                        class="card-title text-decoration-none fw-bold fs-5"></a>
                    <p th:text="${pizza.descrizione}" class="card-text"></p>
                    <p th:text="|${pizza.prezzo}€|" class="card-text"></p>

                    <div class="d-flex">
                        <form action="#" th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post">
                            <button type="submit" class="btn btn-outline-danger me-2">Elimina</button>
                        </form>
                        <a th:href="@{/pizzas/edit/{id}(id=${pizza.id})}" class="btn btn-outline-success">Modifica</a>
                    </div>

                </div>

                <div class="img-container">
                    <img th:src="${pizza.fotoUrl}" alt="Foto pizza" class="card-img-top img-fluid p-2" />
                </div>
            </div>
        </div>



    </main>

</body>

</html>